.painel-list {
    top: 40px;
    bottom: 0;
    position: absolute;
    background-color:#dcfce7;
    text-align: center;
}

.painel-list li { 
    padding: 15px;
    list-style: none; 
}

.painel-list li:hover { 
    cursor: pointer;
    background-color:#79ffa8;
    color: #22974b;
}

.painel-list ul { 
    padding: 0;
    margin: 0;
}